HI this is explanation of framework

-->file-->maven project--> next-->can choose any maven achetype(i choose -->maven-archetype-quickstart)--> name the project and artifact

-->In pom.xml add extension as mentioned 


-->in java project add features file /package
-->then create file name "<function.feature>" and can add natural extension in order to get gherkin keyword in coloured way
-->to add natural extension  to help-->install new software give url of its gihub in .io instead of  .com
-->then refresh the IDE . create new function.feature file and check


create runner class package add runner class in it
create stepsdefiniton package and and step.java in it
In runner class add cucumberOption linking feature file and step file

after linking try running it as 1 junit class
then copy the snippet and in step denitions file implement the code

now try running  
if failure happens check: runner class
                         2. java.exceptintializer error : verison is outdated
                         3.if io.cucumber.junit extension not work then ... try removing test from pom.xml 
                         
some concepts which can be implemented in gherkin
1. examples(scenario outline)
2.raw(data table)/asMaps concept(should use less)
3.tags //used to run specific TCs(~@-->exlude this TC; @->include this TC)
4.hooks(@before ,@after),(tagged hooks@before(@frse) can also give order in tagged hooks)
5. can use background

                         
6..while automating you will face problem as : not secure , please use new gmail id for that;
7.to  enter password (element will not be interactable instantly thus use implicit wait or explicit wait)
8.sometimes it will show as stale elemnt exception(1.explicit wait / try restating eclipse )
9.to enter recepient , use action class if possible (as with simple sendkeys/explcit wait its not working)








Please ignore :extra code :

//		 JavascriptExecutor j = (JavascriptExecutor)driver;
//		 j.executeScript ("document.getElementsByName('to').value=''");	 
//		 driver.findElement(By.xpath("//div[@name='to']/div/div[3]//input")).sendKeys(""); 


//		int ak =driver.findElements(By.xpath("//span[@name='abhishekraj.']")).size();
//		System.out.println(ak);
//	        try
//	        {
//	          if (ak>0) {
//	        		//true
//	        		 System.out.println("message has been sent");
//	        	     }
//	        	else {
//	        		throw new Exception();
//	                 }
//	        }
//		   catch(Exception e)	
//           {
//            System.out.println("Exception occurred : "+e);
//            driver.close();




